body{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1e1e2f;
  color: #fff;
}
p{
  font-size: 20px;
  text-align: justify;
}
h2{
  font-size: 36px;
  font-family: Roboto, serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
  font-weight: 750;
  color: #B59F78;
}
h3{
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #D8DBBD;
}
h4{
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #b0b3b8;
  margin-bottom: 14px;
}
h6{
  font-size: 18px;
}





/*About me CSS*/
.about-me{
  max-width: 538px;
  margin: auto;
}
.intro{
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 25px;
  color: #af9b4c;
}
.image-container{
  position: relative;
  display: flex;
  justify-content: center;
}
.me{
  border-radius: 25px;
  max-height: 250px;
  width: 200px;
  margin-block: 15px;
  transition: opacity 1s ease;
  animation: fadeInOut 10s infinite;
}
.expertise{
  display: flex;
  flex-direction: column;
  margin-block: 15px;
}
.expertise-item{
  padding-block: 6px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.expertise-item h4, .expertise-item p{
  margin-bottom: 0;
  width: 100%;
  text-align: left;
}
.expertise-item img{
  margin-inline: 18px;
}
.first-image {
  animation-delay: 0s;
  z-index: 1;
}
.second-image {
  position: absolute;
  animation-delay: 5s;
  z-index: 0;
}
@keyframes fadeInOut {
  0%, 40% {
      opacity: 1; /* Show image */
  }
  50%, 90% {
      opacity: 0; /* Hide image */
  }
}




/*Experience CSS*/
.my-experience{
  margin-top: 210px;
}

.experience{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  padding-inline: 15px;
  margin-bottom: 55px;
  background: linear-gradient(45deg, #1e1e2f, #2c535c);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
}
  .experience:nth-child(even){
    background: linear-gradient(315deg, #1e1e2f, #2c535c);
  }
  .experience > *{
    padding: 10px;
    padding-inline: 15px;
  }
  .experience h3{
    padding-bottom: 20px;
    margin: 0;
  }
  .experience p{
    font-size: 16px;
  }

.experience-info{

}

.experience-image{
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
  .experience-image img{
    object-fit: fill;
    max-width: 100%;
    border-radius: 10px;
    border: #D8DBBD;
    border-style: groove;
    border-width: 15px;
  }

.experience-info-details{
  padding-inline: 15px;
  padding-bottom: 10px;
}

.experience-info-skills{
  padding-left: 0px;
}
  .experience-info-skills h4{
    text-align: center;
  }

.skill-list{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%;
}
.skill-list img{margin-right: 0px;}
.skill{
  flex: 1 1 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
  padding-inline: 5px;
}





/*Projects CSS*/
.projects{
  margin-top: 210px;
}

.project-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 12px;
}

.project-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-inline: 15px;
  margin-inline: 6px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;

  border: #2c535c;
  border-style: double;
  border-radius: 15px;

  transition: background-color 0.8s ease;
}
  .project-item:hover{
    background-color: #2c535c6d;
  }

.project-item-title{
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
  .project-item-title img{
    margin: 12px;
  }




/*Contact me CSS*/
.contact-me{
  display: flex;
  flex-direction: column;
  background-color: #2A3663;
}
  .contact-me *{
    color: #D8DBBD;
  }
.location,.my-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
.location-icon,.location-words{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

.icon{
  width: 35px;
}

.link-icon{
  width: 20px;
}

.link{
  text-decoration: none;
}
  .link:hover{
    color: white;
    font-weight: bold;
  }

.location-words{
  padding-inline: 5%;
}

.bi-envelope{
  color: blue;
}


/*Animations*/
@keyframes blink {
  0%,100% {
      opacity: 1;
  }

  50% {
      opacity: 0;
  }
}
.blink {
  animation: blink 1s infinite;
  border-right-width: 4px;
  color: white;
  display: inline-block;
  border-right-width: 10px;
}

@media (max-width: 576px){
  .expertise {margin-inline: auto;}
  .intro {margin-top: 50px;}
  p {
    font-size: 18px;
  }
  h6{
    font-size: 16px;
  }
  .experience{
    display: grid;
    grid-template-columns: 1fr;
  }
  .project-list{
    display: grid;
    grid-template-columns: 1fr;
  }
}
